/* form.css */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-inline {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sandwich-details-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, button, textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  flex: 1;
  min-width: 0; /* Prevents items from overflowing */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.file-input-label {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  min-width: 0; /* Prevents items from overflowing */
}

#photo-upload {
  display: none;
}
